include CMakeLists.txt
include LICENSE
include README.manylinux.md
include README.md
include TODO.md
include build_wheels.sh
include config.h.in
include requirements.dev.txt
include docs/Makefile
include docs/gen_config.py
include docs/make.bat
include docs/requirements.txt
include docs/source/conf.py
include docs/source/config_params.rst
include docs/source/index.rst
include docs/source/readme.js.rst
include docs/source/readme.rst
include docs/source/soundswallower.rst
include include/soundswallower/CMakeLists.txt
include include/soundswallower/*.h
include js/CMakeLists.txt
include js/README.md
include js/*.js
include js/*.json
recursive-include model *
include py/CMakeLists.txt
include py/_soundswallower.pxd
include py/_soundswallower.pyx
include py/soundswallower/__init__.py
include py/soundswallower/cli.py
include py/test/test_cli.py
include py/test/test_config.py
include py/test/test_decoder.py
include py/test/test_fsg.py
include pyproject.toml
include setup.py
include src/CMakeLists.txt
include src/*.c
include src/*.h
include src/*.y
include src/*.l
include tests/CMakeLists.txt
include tests/*.test
include tests/*.res
include tests/*.c
include tests/compare_table.pl
recursive-include tests/data *
include tests/test_macros.h.in
exclude MANIFEST.in
exclude .readthedocs.yml
exclude .travis.yml
exclude .gitignore
recursive-exclude .github *
recursive-exclude _skbuild *
recursive-exclude * .gitignore
recursive-exclude * *.py[co]
recursive-exclude * *~ 
recursive-exclude * *.orig
recursive-exclude * *.DS_Store
